# Maven output directories
/**/target/

# Netbeans project config
/**/nbproject
/**/nbactions.xml
/**/nb-configuration.xml

# IntelliJ project config
*.iml
/**/.idea/

# Mac files
.DS_Store
/config/*.pub
/config/*.key