# Maven output directories
/**/target/
/**/build/
/**/out/

# Netbeans project config
/**/nbproject
/**/nbactions.xml
/**/nb-configuration.xml

# IntelliJ project config
*.iml
/**/.idea/
/**/.gradle/
# Mac files
.DS_Store
/config/*.pub
/config/*.key
/.gradle/
