<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
    
    

<!-- 
org.eclipse.persistence.level=INFO
org.eclipse.persistence.logging.sql=INFO
org.eclipse.persistence.LoggingSession.connection.level = CONFIG
org.eclipse.persistence.session.tessera.sql=INFO
com.quorum.tesserara.level=ALL
org.glassfish.level=INFO
org.glassfish.jersey.internal.inject.Providers.level=SEVERE 
-->

    <logger name="org.glassfish.jersey.internal.inject.Providers" level="ERROR" />
    <logger name="org.hibernate.validator.internal.util.Version" level="ERROR" />
    <logger name="org.hibernate.validator.internal.engine.ConfigurationImpl" level="ERROR" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
