<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>build/logs/node-${node.number}.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.persistence.level" level="ERROR"/>
    <logger name="org.eclipse.persistence.logging.sql" level="ERROR"/>
    <logger name="org.glassfish.jersey.logging.LoggingFeature" level="ERROR"/>
    <logger name="com.quorum.tessera.q2t.TransactionResource" level="DEBUG"/>
    <logger name="com.quorum.tessera.transaction" level="DEBUG"/>
    <logger name="com.quorum.tessera.api.filter" level="DEBUG"/>
    <logger name="com.quorum.tessera.api.exception" level="DEBUG"/>

    <logger name="com.quorum.tessera" level="DEBUG" />
    <logger name="org.hibernate.validator" level="INFO" />

    <logger name="com.quorum.tessera.context" level="DEBUG" />

    <logger name="com.quorum.tessera.nacl" level="INFO" />
    <logger name="com.quorum.tessera.encryption" level="INFO" />
<!--    <logger name="com.quorum.tessera.discovery" level="DEBUG" />-->
<!--    <logger name="com.quorum.tessera.p2p" level="DEBUG" />-->
<!--    <logger name="com.quorum.tessera.p2p.SyncPoller" level="DEBUG" />-->
<!--    <logger name="com.quorum.tessera.p2p.PartyInfoBroadcaster" level="DEBUG" />-->
<!--    <logger name="com.quorum.tessera.p2p.P2PRestApp" level="DEBUG" />-->

<!--    <logger name="com.quorum.tessera.server.jaxrs" level="DEBUG" />-->

    <logger name="io.netty.util.internal" level="INFO" />
<!--    <logger name="com.quorum.tessera.launcher" level="ALL" />-->
<!--    <logger name="reactor.netty.http.client" level="ALL" />-->

    <logger name="com.azure" level="INFO" />

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
