<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.quorum.tessera.test.rest" level="INFO"/>

    <logger name="suite.RestPartyInfoChecker" level="INFO"/>

    <logger name="suite.HttpServerStatusCheck" level="WARN" />

    <logger name="io.netty" level="INFO" />

    <logger name="com.sun.net.httpserver" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
