name: Tessera Gradle Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  GRADLE_CACHE_KEY: ${{ github.run_id }}-gradle-${{ github.run_number }}-${{ github.run_number }}-${{ github.sha }}
  DIST_TAR: tessera-dist/build/distributions/tessera-*.tar
jobs:
  build:
    name: Build and upload binaries
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code from SCM
      uses: actions/checkout@v2
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: 14
        check-latest: true
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build -x dependencyCheckAnalyze -x javadoc -x test --info
    - name: Upload tessera dist
      uses: actions/upload-artifact@v1
      if: success()
      with:
        name: tessera-dists
        path: /home/runner/work/tessera/tessera/tessera-dist/build/distributions/
    - name: Upload tessera enclave dist
      uses: actions/upload-artifact@v1
      with:
        name: enclave-dists
        path: /home/runner/work/tessera/tessera/enclave/enclave-jaxrs/build/distributions/
    - name: Upload aws key vault dist
      uses: actions/upload-artifact@v1
      with:
        name: aws-key-vault-dist
        path: /home/runner/work/tessera/tessera/key-vault/aws-key-vault/build/distributions/
    - name: Upload azure key vault dist
      uses: actions/upload-artifact@v1
      with:
        name: azure-key-vault-dist
        path: /home/runner/work/tessera/tessera/key-vault/azure-key-vault/build/distributions/
    - name: Upload hashicorp key vault dist
      uses: actions/upload-artifact@v1
      with:
        name: hashicorp-key-vault-dist
        path: /home/runner/work/tessera/tessera/key-vault/hashicorp-key-vault/build/distributions/
    - name: Send slack notification
      uses: homoluctus/slatify@v3.0.0
      if: always()
      with:
        type: ${{job.status}}
        job_name: Build and upload binaries
        url: ${{ secrets.SLACK_WEBHOOK }}

  checkdependencies:
    name: Check dependencies for any security advisories
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code from SCM
      uses: actions/checkout@v2
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: 14
        check-latest: true
    - name: Execute gradle dependencyCheckAnalyze task
      run: ./gradlew dependencyCheckAnalyze -x test
    - name: Send slack notification
      uses: homoluctus/slatify@v3.0.0
      if: always()
      with:
        type: ${{job.status}}
        job_name: Check dependencies for any security advisories
        url: ${{ secrets.SLACK_WEBHOOK }}

  test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code from SCM
      uses: actions/checkout@v2
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: 14
        check-latest: true
    - name: Execute gradle test
      run: ./gradlew test -x dependencyCheckAnalyze -x :tests:acceptance-test:test -x javadoc -x :cli:config-cli:jacocoTestCoverageVerification --info
    - name: Send slack notification
      uses: homoluctus/slatify@v3.0.0
      if: always()
      with:
        type: ${{job.status}}
        job_name: Unit tests
        url: ${{ secrets.SLACK_WEBHOOK }}

  itest:
    name: Integration tests
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code from SCM
      uses: actions/checkout@v2
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: 14
        check-latest: true
    - name: Download tessera dist
      uses: actions/download-artifact@v2
      with:
        name: tessera-dists
        path: /home/runner/work/tessera/tessera/tessera-dist/build/distributions/
    - name: Download tessera enclave dist
      uses: actions/download-artifact@v2
      with:
        name: enclave-dists
        path: /home/runner/work/tessera/tessera/enclave/enclave-jaxrs/build/distributions/
    - name: Download aws key vault dist
      uses: actions/download-artifact@v2
      with:
        name: aws-key-vault-dist
        path: /home/runner/work/tessera/tessera/key-vault/aws-key-vault/build/distributions/
    - name: Download azure key vault dist
      uses: actions/download-artifact@v2
      with:
        name: azure-key-vault-dist
        path: /home/runner/work/tessera/tessera/key-vault/azure-key-vault/build/distributions/
    - name: Download hashicorp key vault dist
      uses: actions/download-artifact@v2
      with:
        name: hashicorp-key-vault-dist
        path: /home/runner/work/tessera/tessera/key-vault/hashicorp-key-vault/build/distributions/
    - name: Execute gradle integration tests
      run: |
        ./gradlew :tests:acceptance-test:clean :tests:acceptance-test:test --fail-fast -PexcludeTests="RunHashicorpIT,AwsKeyVaultIT,RecoverIT,RunAzureIT,RestSuiteHttpH2RemoteEnclaveEncTypeEC,CucumberTestSuite" --info
    - name: Upload Junit reports
      uses: actions/upload-artifact@v1
      if: always()
      with:
       name: itest-junit-report
       path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/reports/tests/
    - name: Upload test logs
      uses: actions/upload-artifact@v1
      if: always()
      with:
       name: itest-logs
       path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/logs
    - name: Send slack notification
      uses: homoluctus/slatify@v3.0.0
      if: always()
      with:
        type: ${{job.status}}
        job_name: Integration tests
        url: ${{ secrets.SLACK_WEBHOOK }}

  remote_enclave_itest:
    name: Remote enclave integration tests
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from SCM
        uses: actions/checkout@v2
      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 14
          check-latest: true
      - name: Download tessera dist
        uses: actions/download-artifact@v2
        with:
          name: tessera-dists
          path: /home/runner/work/tessera/tessera/tessera-dist/build/distributions/
      - name: Download tessera enclave dist
        uses: actions/download-artifact@v2
        with:
          name: enclave-dists
          path: /home/runner/work/tessera/tessera/enclave/enclave-jaxrs/build/distributions/
      - name: Download aws key vault dist
        uses: actions/download-artifact@v2
        with:
          name: aws-key-vault-dist
          path: /home/runner/work/tessera/tessera/key-vault/aws-key-vault/build/distributions/
      - name: Download azure key vault dist
        uses: actions/download-artifact@v2
        with:
          name: azure-key-vault-dist
          path: /home/runner/work/tessera/tessera/key-vault/azure-key-vault/build/distributions/
      - name: Download hashicorp key vault dist
        uses: actions/download-artifact@v2
        with:
          name: hashicorp-key-vault-dist
          path: /home/runner/work/tessera/tessera/key-vault/hashicorp-key-vault/build/distributions/
      - name: Execute gradle integration tests
        run: |
          ./gradlew :tests:acceptance-test:test --tests RestSuiteHttpH2RemoteEnclave --tests RestSuiteHttpH2RemoteEnclaveEncTypeEC --info
      - name: Upload junit reports
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: remote_enclave_itest-junit-report
          path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/reports/tests/
      - name: Upload test logs
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: remote_enclave_itest-logs
          path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/logs
      - name: Send slack notification
        uses: homoluctus/slatify@v3.0.0
        if: always()
        with:
          type: ${{job.status}}
          job_name: Remote enclave integration tests
          url: ${{ secrets.SLACK_WEBHOOK }}

  cucumber_itest:
    name: Legacy cucumber tests
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from SCM
        uses: actions/checkout@v2
      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 14
          check-latest: true
      - name: Download tessera dist
        uses: actions/download-artifact@v2
        with:
          name: tessera-dists
          path: /home/runner/work/tessera/tessera/tessera-dist/build/distributions/
      - name: Download tessera enclave dist
        uses: actions/download-artifact@v2
        with:
          name: enclave-dists
          path: /home/runner/work/tessera/tessera/enclave/enclave-jaxrs/build/distributions/
      - name: Download aws key vault dist
        uses: actions/download-artifact@v2
        with:
          name: aws-key-vault-dist
          path: /home/runner/work/tessera/tessera/key-vault/aws-key-vault/build/distributions/
      - name: Download azure key vault dist
        uses: actions/download-artifact@v2
        with:
          name: azure-key-vault-dist
          path: /home/runner/work/tessera/tessera/key-vault/azure-key-vault/build/distributions/
      - name: Download hashicorp key vault dist
        uses: actions/download-artifact@v2
        with:
          name: hashicorp-key-vault-dist
          path: /home/runner/work/tessera/tessera/key-vault/hashicorp-key-vault/build/distributions/
      - name: Execute gradle
        run: |
          ./gradlew :tests:acceptance-test:clean :tests:acceptance-test:test --tests CucumberTestSuite --info
      - name: Upload junit reports
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: cucumber_itest-junit-report
          path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/reports/tests/
      - name: Upload test logs
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: cucumber_itest-logs
          path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/logs
      - name: Send slack notification
        uses: homoluctus/slatify@v3.0.0
        if: always()
        with:
          type: ${{job.status}}
          job_name: Legacy cucumber tests
          url: ${{ secrets.SLACK_WEBHOOK }}

  vaultTests:
    name: Key vault integration tests
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from SCM
        uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 14
          check-latest: true
      - name: Download tessera dist
        uses: actions/download-artifact@v2
        with:
          name: tessera-dists
          path: /home/runner/work/tessera/tessera/tessera-dist/build/distributions/
      - name: Download tessera enclave dist
        uses: actions/download-artifact@v2
        with:
          name: enclave-dists
          path: /home/runner/work/tessera/tessera/enclave/enclave-jaxrs/build/distributions/
      - name: Download aws key vault dist
        uses: actions/download-artifact@v2
        with:
          name: aws-key-vault-dist
          path: /home/runner/work/tessera/tessera/key-vault/aws-key-vault/build/distributions/
      - name: Download azure key vault dist
        uses: actions/download-artifact@v2
        with:
          name: azure-key-vault-dist
          path: /home/runner/work/tessera/tessera/key-vault/azure-key-vault/build/distributions/
      - name: Download hashicorp key vault dist
        uses: actions/download-artifact@v2
        with:
          name: hashicorp-key-vault-dist
          path: /home/runner/work/tessera/tessera/key-vault/hashicorp-key-vault/build/distributions/
      - name: Run AWS tests
        run: |
          ./gradlew :tests:acceptance-test:test --tests AwsKeyVaultIT --info
      - name: Run azure tests
        run: |
          ./gradlew :tests:acceptance-test:test --tests RunAzureIT --info
      - name: Run hashicorp tests
        run: |
          wget https://releases.hashicorp.com/vault/1.2.2/vault_1.2.2_linux_amd64.zip -O /tmp/vault_1.2.2_linux_amd64.zip
          mkdir -p vault/bin && pushd $_
          unzip /tmp/vault_1.2.2_linux_amd64.zip
          export PATH=$PATH:$PWD && popd
          ./gradlew :tests:acceptance-test:test --tests RunHashicorpIT --info
      - name: Upload junit reports
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: vault-itest-junit-report
          path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/reports/tests/
      - name: Upload test logs
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: vault-itest-logs
          path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/logs
      - uses: homoluctus/slatify@v3.0.0
        if: always()
        with:
          type: ${{job.status}}
          job_name: Key vault integration tests
          url: ${{ secrets.SLACK_WEBHOOK }}

  recovery_itest:
    name: Recovery integration tests
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from SCM
        uses: actions/checkout@v2
      - name: Set up java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 14
          check-latest: true
      - name: Download tessera dist
        uses: actions/download-artifact@v2
        with:
          name: tessera-dists
          path: /home/runner/work/tessera/tessera/tessera-dist/build/distributions/
      - name: Download tessera enclave dist
        uses: actions/download-artifact@v2
        with:
          name: enclave-dists
          path: /home/runner/work/tessera/tessera/enclave/enclave-jaxrs/build/distributions/
      - name: Download aws key vault dist
        uses: actions/download-artifact@v2
        with:
          name: aws-key-vault-dist
          path: /home/runner/work/tessera/tessera/key-vault/aws-key-vault/build/distributions/
      - name: Download azure key vault dist
        uses: actions/download-artifact@v2
        with:
          name: azure-key-vault-dist
          path: /home/runner/work/tessera/tessera/key-vault/azure-key-vault/build/distributions/
      - name: Download hashicorp key vault dist
        uses: actions/download-artifact@v2
        with:
          name: hashicorp-key-vault-dist
          path: /home/runner/work/tessera/tessera/key-vault/hashicorp-key-vault/build/distributions/
      - name: Execute tests
        run: |
          ./gradlew :tests:acceptance-test:clean :tests:acceptance-test:test --tests RecoverIT --info
      - name: Upload junit reports
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: recovery_itest-junit-report
          path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/reports/tests/
      - name: Upload test logs
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: recovery-itest-logs
          path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/logs
      - name: Send slack notification
        uses: homoluctus/slatify@v3.0.0
        if: always()
        with:
          type: ${{job.status}}
          job_name: Recovery integration tests
          url: ${{ secrets.SLACK_WEBHOOK }}

  atest:
    name: Quorum acceptence tests
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from SCM
        uses: actions/checkout@v2
      - name: Set up java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 14
          check-latest: true
      - name: Download tessera dist
        uses: actions/download-artifact@v2
        with:
          name: tessera-dists
          path: /home/runner/work/tessera/tessera/tessera-dist/build/distributions/
      - name: Build and prepare docker image
        run: |
          cp tessera-dist/build/distributions/tessera-*.tar tessera-dist/build/distributions/tessera.tar
          mkdir tessera-extracted && tar xvf tessera-dist/build/distributions/tessera.tar -C tessera-extracted --strip-components 1
      - name: Push docker image
        uses: docker/build-push-action@v1
        with:
          repository: quorumengineering/tessera
          tags: develop
          push: false
          dockerfile: .github/workflows/noBuild.Dockerfile
          build_args: DIST=tessera-extracted
      - name: Execute acceptence tests
        run:
          docker run --entrypoint /bin/sh --network host -v /tmp/run/sh:/tmp/run.sh -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/acctests:/tmp/acctests quorumengineering/acctests:latest -c "mvn --no-transfer-progress -B -DskipToolsCheck test -Pauto -Dtags='\!async && (basic || basic-istanbul || networks/typical::istanbul)' -Dauto.outputDir=/tmp/acctests -Dnetwork.forceDestroy=true && cp -R /workspace/target/gauge /tmp/acctests/gauge && chmod -R 775 /tmp/acctests/gauge"
      - name: Upload Gauge report
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: gauge-reports
          path: /tmp/acctests/gauge
      - name: Send slack notification
        uses: homoluctus/slatify@v3.0.0
        if: always()
        with:
          type: ${{job.status}}
          job_name: Quorum acceptence tests
          url: ${{ secrets.SLACK_WEBHOOK }}