name: Tessera Gradle Build

on: [push, pull_request]

env:     
  GRADLE_CACHE_KEY: ${{ github.run_id }}-gradle-${{ github.run_number }}-${{ github.run_number }}-${{ github.sha }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build -x dependencyCheckAnalyze -x jacocoTestCoverageVerification --info
    - uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ env.GRADLE_CACHE_KEY }}
        restore-keys: |
          ${{ env.GRADLE_CACHE_KEY }}
    - uses: actions/upload-artifact@v1
      if: success()
      with:
        name: enclave-dists
        path: /home/runner/work/tessera/tessera/enclave/enclave-jaxrs/build/distributions/
    - uses: actions/upload-artifact@v1
      if: success()
      with:
        name: tessera-dists
        path: /home/runner/work/tessera/tessera/tessera-dist/build/distributions/
    - uses: actions/upload-artifact@v1
      if: success()
      with:
        name: aws-key-vault-dist
        path: /home/runner/work/tessera/tessera/key-vault/aws-key-vault/build/distributions/
    - uses: actions/upload-artifact@v1
      if: success()
      with:
        name: azure-key-vault-dist
        path: /home/runner/work/tessera/tessera/key-vault/azure-key-vault/build/distributions/
    - uses: actions/upload-artifact@v1
      if: success()
      with:
        name: hashicorp-key-vault-dist
        path: /home/runner/work/tessera/tessera/key-vault/hashicorp-key-vault/build/distributions/


#  checkdependencies:
#    runs-on: ubuntu-latest
#    needs: [build]
#    steps:
#    - uses: actions/checkout@v2
#    - uses: actions/cache@v1
#      with:
#        path: ~/.gradle/caches
#        key: ${{ env.GRADLE_CACHE_KEY }}
#        restore-keys: |
#          ${{ env.GRADLE_CACHE_KEY }}
#    - uses: actions/setup-java@v1
#      with:
#        java-version: 11
#    - run: ./gradlew dependencyCheckAnalyze -x test
       
#  test:
#    runs-on: ubuntu-latest
#    needs: [build]
#    steps:
#    - uses: actions/checkout@v2
#
#    - uses: actions/cache@v1
#      with:
#        path: ~/.gradle/caches
#        key: ${{ env.GRADLE_CACHE_KEY }}
#        restore-keys: |
#          ${{ env.GRADLE_CACHE_KEY }}
#    - uses: actions/setup-java@v1
#      with:
#       java-version: 11
#    - run: ./gradlew test -x dependencyCheckAnalyze -x generateSwaggerDocumentation --info
#  itest:
#    runs-on: ubuntu-latest
#    needs: [build]
#    steps:
#    - uses: actions/checkout@v2
#
#    - uses: actions/cache@v1
#      with:
#        path: ~/.gradle/caches
#        key: ${{ env.GRADLE_CACHE_KEY }}
#        restore-keys: |
#          ${{ env.GRADLE_CACHE_KEY }}
#    - uses: actions/download-artifact@v2
#      with:
#        name: tessera-dists
#        path: /home/runner/work/tessera/tessera/tessera-dist/build/distributions/
#    - uses: actions/download-artifact@v2
#      with:
#        name: enclave-dists
#        path: /home/runner/work/tessera/tessera/enclave/enclave-jaxrs/build/distributions/
#    - uses: actions/download-artifact@v2
#      with:
#        name: aws-key-vault-dist
#        path: /home/runner/work/tessera/tessera/key-vault/aws-key-vault/build/distributions/
#    - uses: actions/download-artifact@v2
#      with:
#        name: azure-key-vault-dist
#        path: /home/runner/work/tessera/tessera/key-vault/azure-key-vault/build/distributions/
#    - uses: actions/download-artifact@v2
#      with:
#        name: hashicorp-key-vault-dist
#        path: /home/runner/work/tessera/tessera/key-vault/hashicorp-key-vault/build/distributions/
#    - uses: actions/setup-java@v1
#      with:
#       java-version: 11
#    - name: Install Hashicorp Vault CLI & run tests
#      run: |
#        wget https://releases.hashicorp.com/vault/1.5.0/vault_1.5.0_linux_amd64.zip -O /tmp/vault_1.5.0_linux_amd64.zip
#        mkdir -p vault/bin && pushd $_
#        unzip /tmp/vault_1.5.0_linux_amd64.zip
#        export PATH=$PATH:$PWD && popd
#        ./gradlew :tests:acceptance-test:test -x generateSwaggerDocumentation -PexcludeTests="**/RestSuiteHttpH2RemoteEnclave.class,**/SendWithRemoteEnclaveReconnectIT.class"
#    - uses: actions/upload-artifact@v1
#      if: failure()
#      with:
#       name: itest-junit-report
#       path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/reports/tests/
#    - uses: actions/upload-artifact@v1
#      if: failure()
#      with:
#        name: itest-logs
#        path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/logs/


#  remote_enclave_itest:
#    runs-on: ubuntu-latest
#    needs: [build]
#    steps:
#      - uses: actions/checkout@v2
#
#      - uses: actions/cache@v1
#        with:
#          path: ~/.gradle/caches
#          key: ${{ env.GRADLE_CACHE_KEY }}
#          restore-keys: |
#            ${{ env.GRADLE_CACHE_KEY }}
#      - uses: actions/download-artifact@v2
#        with:
#          name: tessera-dists
#          path: /home/runner/work/tessera/tessera/tessera-dist/build/distributions/
#      - uses: actions/download-artifact@v2
#        with:
#          name: enclave-dists
#          path: /home/runner/work/tessera/tessera/enclave/enclave-jaxrs/build/distributions/
#      - uses: actions/download-artifact@v2
#        with:
#          name: aws-key-vault-dist
#          path: /home/runner/work/tessera/tessera/key-vault/aws-key-vault/build/distributions/
#      - uses: actions/download-artifact@v2
#        with:
#          name: azure-key-vault-dist
#          path: /home/runner/work/tessera/tessera/key-vault/azure-key-vault/build/distributions/
#      - uses: actions/download-artifact@v2
#        with:
#          name: hashicorp-key-vault-dist
#          path: /home/runner/work/tessera/tessera/key-vault/hashicorp-key-vault/build/distributions/
#      - uses: actions/setup-java@v1
#        with:
#          java-version: 11
#      - run: ./gradlew :tests:acceptance-test:test -x generateSwaggerDocumentation --tests "*Remote*"
#      - uses: actions/upload-artifact@v1
#        if: failure()
#        with:
#          name: remote_enclave_itest-junit-report
#          path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/reports/tests/
#      - uses: actions/upload-artifact@v1
#        if: failure()

#  recovery_itest:
#    runs-on: ubuntu-latest
#    needs: [build]
#    steps:
#      - uses: actions/checkout@v2
#
#      - uses: actions/cache@v1
#        with:
#          path: ~/.gradle/caches
#          key: ${{ env.GRADLE_CACHE_KEY }}
#          restore-keys: |
#            ${{ env.GRADLE_CACHE_KEY }}
#      - uses: actions/setup-java@v1
#        with:
#          java-version: 11
#      - run: ./gradlew :tests:acceptance-test:test --tests RecoverIT
#      - uses: actions/upload-artifact@v1
#        if: failure()
#        with:
#          name: recovery_itest-junit-report
#          path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/reports/tests/

#  atest:
#    runs-on: ubuntu-latest
#    needs: build
#    steps:
#      - uses: actions/checkout@v2
#      - uses: actions/setup-java@v1
#        with:
#          java-version: 11
#      - uses: actions/cache@v1
#        with:
#          path: ~/.gradle/caches
#          key: ${{ env.GRADLE_CACHE_KEY }}
#          restore-keys: |
#            ${{ env.GRADLE_CACHE_KEY }}
#      - run: |
#          ./gradlew build -x test -x dependencyCheckAnalyze -x javadoc
#      - uses: docker/build-push-action@v1
#        with:
#          repository: quorumengineering/tessera
#          tags: latest
#          push: false
#          dockerfile: .github/workflows/DockerfileTest
#          build_args: JAR_FILE=tessera-dist/tessera-app/build/libs/tessera-app-*-app.jar
#      - run:
#          docker run --rm --network host -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/acctests:/tmp/acctests quorumengineering/acctests:latest test -Pauto -Dtags="!async && (basic || basic-istanbul || networks/typical::istanbul)" -Dauto.outputDir=/tmp/acctests -Dnetwork.forceDestroy=true
#      - uses: actions/upload-artifact@v1
#        if: failure()
#        with:
#          name: recovery_itest-junit-report
#          path: /home/runner/work/tessera/tessera/tests/acceptance-test/build/reports/tests/

#  atest:
#    runs-on: ubuntu-latest
#    needs: build
#    steps:
#      - uses: actions/checkout@v2
#      - uses: actions/setup-java@v1
#        with:
#          java-version: 11
#      - uses: actions/cache@v1
#        with:
#          path: ~/.gradle/caches
#          key: ${{ env.GRADLE_CACHE_KEY }}
#          restore-keys: |
#            ${{ env.GRADLE_CACHE_KEY }}
#      - run: |
#          ./gradlew build -x test -x dependencyCheckAnalyze -x javadoc
#      - uses: docker/build-push-action@v1
#        with:
#          repository: quorumengineering/tessera
#          tags: latest
#          push: false
#          dockerfile: .github/workflows/DockerfileTest
#          build_args: JAR_FILE=tessera-dist/tessera-app/build/libs/tessera-app-*-app.jar
#      - run:
#          docker run --rm --network host -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/acctests:/tmp/acctests quorumengineering/acctests:latest test -Pauto -Dtags="basic || basic-istanbul || networks/typical::istanbul" -Dauto.outputDir=/tmp/acctests -Dnetwork.forceDestroy=true
