<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %replace(%msg){'[\r\n]', ''}%n</pattern>
    </encoder>
  </appender>

  <!-- silence hibernate messages that were being created from DefaultCliAdapter -->
  <logger name="org.hibernate.validator.internal.util.Version" level="OFF"/>
  <logger name="org.hibernate.validator.internal.engine.ConfigurationImpl" level="OFF"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
