<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="defaultLogLevel" value="ALL" />

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            &lt;!&ndash; note that %logger{36} on next line will abbreviate logger names to reduce output &ndash;&gt;-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %replace(%msg){'[\r\n]', ''}%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>enclave.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- silence hibernate messages that were being created from DefaultCliAdapter -->
    <logger name="org.hibernate.validator.internal.util.Version" level="OFF"/>
    <logger name="org.hibernate.validator.internal.engine.ConfigurationImpl" level="OFF"/>

    <root level="${verbosity:-${defaultLogLevel}}">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
